/**{outline: 1px solid rgba(225,0,0, 0.4);

}*/
body{
  font-family: 'Dosis', sans-serif;
}
h1{
  font-family: 'Open Sans', sans-serif;
  font-size: 4em;
}
h2,h3,h4,h5{
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}
p{
  font-family: 'Open Sans', sans-serif;
  color: #888;
}

.header{
	background: url(../img/background/hero.jpg);
  height: auto;
	color: #fff;
}
.cont-header{
  background: rgba(7, 11, 17, 0.6);
   height: auto;
}
.cont-header p{
  color: #fff;
}
.logo{
  font-size: 2em;
  margin-top: 5%;
}
.menu{
  margin-top: 7%;
}
.menu a{
  text-decoration: none;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 1.2em;
}
.menu ul li.active a,
.menu ul li a:hover{
  color:#0dc0c0;
  text-decoration: none;
}
.info-banner{
  padding-top: 200px;
  padding-bottom: 200px;
}
.info-banner h1{
  margin-bottom: 50px;
}
.info-banner p{
  font-weight: bold;
  font-size: 1.2em;
}
.info-banner button{
  background: #393f41;
  font-weight: bold;
  font-size: 1.5em;
  padding: 15px 20px;
  margin: 40px 10px;
}
.info-banner .trans{
  background: rgba(115, 119, 127, 0.3);
}

/*Featues*/
#Featues i{
  color:#0dc0c0;
  font-size: 2.5em;
}
#Featues .item-featues{
  padding-top: 100px;
  padding-bottom: 100px;
}
#Featues .item-featues-2{
  padding-bottom: 100px;
}
#Featues .item-featues p,.item-featues-2 p{
  padding: 5px 30px;
}
.cont-features{
  background: #f1f1f1;
  padding: 50px 20px;
}
.cont-features img{
  width: 100%;
}
.list-feature-3{
  margin-top: 60px;
}
..item-feature-3{
  margin-bottom: 60px;
}
.item-feature-3 h4,.item-feature-3 p{
  text-align: left;
}
.item-feature-3 p{
  padding-left: 30px;
}
/* Fin Featues*/

/*Portafolio*/
.cont-portafolio{
  background: #f1f1f1;
  padding-top: 30px
}
.sub-menu{
  margin-top: 30px;
  margin-bottom: 30px;
}
.cont-portafolio .sub-menu li a{
  color: #000;
  padding: 10px 15px;
  font-weight: bold;
  font-size: 1.2em;
  background: #fff;
}
.cont-portafolio .sub-menu .active a,
.cont-portafolio .sub-menu li a:hover{
  color: #fff;
  text-decoration: none;
  background: #0dc0c0;
}
.cont-img-port{
  max-width: 100%;
  height: auto;
  padding: 10px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 30px;
}
img{
	width: 100%;
}
.cont-portafolio .btn-load-more{
  padding: 15px 10px;
  font-weight: bold;
  font-size: 1.5em;
  background: #302d2d;
  color:#c2c0c0;
}
.btn-load{
  margin-top: 70px;
  margin-bottom: 35px;
}
/*Pricing*/
.cont-img-city{
	background: url(../img/background/city.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% 200%;
	height: 500px;
	width: 100%;
}
.Pricing{
padding: 150px 150px;

}
.cont-city{
	background: rgba(0, 6, 15, 0.6);
  height: 500px;
  width: 100%;
}
.cont-img-city p{
  color: #fff;
  font-size: 1.5em;

}
.button-call{
  margin-top: 100px;
}
.cont-img-city a{
  padding: 15px 30px;
  font-weight: bold;
  color: #fff;
  font-size: 1.5em;
  text-decoration: none;
  background: rgba(98, 104, 116, 0.4);
}
.cont-info-choose{
  max-width: 100%;
  height: auto;
  padding: 15px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 30px;
}
.cont-choose{
   background: #f1f1f1;
   padding-bottom: 50px
}
.cont-choose .from p{
  margin-top: 20px;
  margin-bottom: 50px;
}
.cont-info-choose .stan{
  padding: 30px 30px;
  color:#fff;
  background: #0dc0c0;
}
.cont-info-choose .stan-1{
  padding: 30px 30px;
  background: #393f41;
}
.cont-info-choose .from{
  padding:5px 40px; 
  background-color: rgb(244, 244, 244);
  margin-bottom: 50px;
} 

.cont-info-choose .from p{
  font-size: 1.2em;
  font-weight: 600;
  margin-top: 60px;
}

.cont-info-choose .from p span{
  font-size: 1.5em;
  font-weight: bold;
}
hr{
  color:#f1f1f1;
  background: #f1f1f1;
  width: 250px; 
}
.cont-info-choose a{
  padding: 10px 30px;
  font-weight: 900;
  color: #a8aaab;
  background: #393f41;
}
.diana {
  padding: 70px 170px;
}
.img-diana{
	width: 100px;
	height: 100px;
	border-radius: 100%;
  margin-top: 50px;
  margin-bottom: 20px;
}
/* Fin Pricing*/
/*Contacto*/
.cont-img-contact{
	background: url(../img/background/contactus.jpg);
  background-position: 100% left;
  background-size: cover;
  background-repeat: no-repeat;
	height: auto;
	width: 100%;
  color: #fff;
}
.cont-contactanos{
  background: rgba(0, 6, 15, 0.5);
  height: auto;
  padding-bottom: 100px;
}
.cont-cont h2{
  padding: 20px 0;
}
.cont-cont p{
  color: #fff;
}
.cont-formulario input[type="text"],textarea{
  font-family: 'Open Sans', sans-serif;
  height: 50px;
  width: 90%;
  padding-left: 3%;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 3px;
  border-color: transparent;
  background: rgba(98, 104, 116, 0.4);
  margin-top: 20px;
  box-shadow: 0 0px 3px rgba(0, 0, 0, 0.22) inset;
    -moz-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.22) inset;
    -webkit-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.22) inset;
    -o-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.22) inset;
    transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
}
.cont-formulario input[type=text]:focus, #contact-formular textarea:focus, input[type=email]:focus {
    background: rgba(0, 6, 15, 0.5);
  }
.cont-formulario textarea {
    height:160px;
    resize:none;
  }
.cont-formulario input[type="submit"]{
  color: #fff;
  padding: 15px 40px;
  background:#0dc0c0;
  border: transparent;
}

.info-contac p{
  padding: 30px 20px;
}
.info-contac i{
  padding-right: 15px;
  line-height: 2;
}
.info-contac .address{
  padding: 10px 20px;
}
.info-redes{
  padding: 50px;
}
.info-redes p{
  padding-top: 20px;
  padding-bottom: 20px;
}
.info-redes i{
  font-size: 2em;
  margin: 5px;
}
/* fin Contacto*/

/* Footer*/
 footer{
  background: #393f41;
  height: 90px;
 }
.footer-pagina p{
  margin-top: 30px;
  font-weight: 600;
}
/* fin Footer*/

/*para movil*/
@media(max-width: 750px){
  .menu {
    margin-top: 0;
    
  }
}
@media(max-width: 750px){
  .menu  li a{
    font-size: 1.5em;
  }
  .info-banner{
    padding: 40px 150px 250px 150px;
  }
  .info-banner h1{
    font-size: 4em;
    margin-bottom: 10px;
  }
  .info-banner p{
    font-size: 1.7em;
    font-weight: normal;
    line-height: .9;
  }
  #Featues .item-featues{
  padding-bottom: 10px;
}
  #Featues .item-featues-2{
  padding-bottom: 10px;
}

}


@media(max-width: 750px){
  .Pricing {
    padding: 130px 40px;
    font-size: 1.2em;
    line-height: 2;
  }
  .diana h2{
    line-height: 1.5;
  }
  .diana p{
    line-height: 2;
  }
   .diana strong{
    line-height: 1;
  }
 }

@media(max-width: 750px){
  .cont-cont p{
    padding: 10px 20px;
    font-size: 1.3em;
}
.info-contac h3{
  padding-top: 50px;
  padding-bottom: 30px;
  }
  .cont-contactanos{
    padding-bottom: 10px;
  }
  .info-redes h2{
    padding-bottom: 30px;
  }
  .info-redes p{
    padding: 0 80px;
    font-size: 1.3em;
    line-height: 1.5;
  }
  .grup-icon{
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
